<div class="three-columns">
	<div style="float:left;height:300px;width:33.3333333%;background-color:#312736">{{text1}}</div>
	<div style="float:left;height:300px;width:33.3333333%;background-color:#D4838F">{{text2}}</div>
	<div style="float:left;height:300px;width:33.3333333%;background-color:#C4FFEB">{{text3}}</div>
</div>
